<div class="flex flex-col justify-center items-center h-screen bg-gradient-to-r">
  <app-balance-display 
    *ngIf="currentBalance$ | async as currentBalance" 
    [balance]="currentBalance">
  </app-balance-display>

  <div class="mt-1 text-4xl sm:text-7xl font-extrabold 	tracking-wide leading-tight text-center text-white">
    Just another DApp
  </div>

  <app-wallet 
    *ngIf="(currentAccount$ | async) as currentAccount"
    [currentAccount]="currentAccount">
  </app-wallet>

  <ng-container *ngIf="!(currentAccount$ | async)">
    <div class="flex flex-col p-3">
      <button class="bg-orange-500 text-white font-bold py-2 px-4 rounded" (click)="connectToWallet()">
        Connect your wallet
      </button>
    </div>
  </ng-container>
</div>